{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}


<div class="product-container">
  <div class="product-images">
    {% for image in product.images limit: 1 %}
      {% render 'image', class: 'product-detail-image', image: image %}
    {% endfor %}
  </div>
  <div class="product-content">
    <div class="product-info">
      <h1 class="product-title">{{ product.title }}</h1>
      <p class="product-price">{{ product.price | money }}</p>
      <p class="product-des">{{ product.description }}</p>
    </div>

    <div class="product-form">
      {% form 'product', product %}
        {% assign current_variant = product.selected_or_first_available_variant %}

        {% if product.variants.size > 1 %}
          <select name="id" class="product-variant-select">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {% if variant == current_variant %}
                  selected="selected"
                {% endif %}
              >
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>
        {% endif %}

        <input type="submit" value="Add to cart" class="add-to-cart-button">        
        {{ form | payment_button }}
      {% endform %}
    </div>
  </div>
</div>

{% stylesheet %}
  .product-container {
    display: flex;
    gap: 40px;
    padding: 36px 0 12px;
  }

  .product-images {
    flex: 1;
    /* max-height: 210px; */
  }

  .product-detail-image img {
    object-fit: cover;
    display: block;
    /* border: 1px solid #e2e1e1ff; */
    border-radius: 0;
  }

  .product-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .profuct-info {
    display: flex;
    flex-direction: column;
  }

  .product-title {
    margin-bottom: 1rem;
    font-weight: 200;
  }

  .product-price {
    font-size: 2em;
    margin: 1rem 0;
    font-weight: bold;
  }

  .product-des {
    margin: 1.5rem 0;
    font-size: 1rem;
    line-height: 1.2;
    color: #595959
  }

  .product-variant-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #e2e1e1ff;
    border-radius: initial;
    font-size: 1rem;
  }

  .add-to-cart-button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    color: #000;
    border: 1px solid #000;
    border-radius: initial;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
  }

  .shopify-payment-button__button {
    border-radius: initial !important;
    color: #fff !important;
    background-color: #000 !important;
    font-weight: normal !important;
  }

  @media (max-width: 700px) {
    .product-container {
      flex-direction: column;
      align-items: center;
    }
  }

{% endstylesheet %}


{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
